
// Zeroying start
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin-bottom: 0;
}

img {
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}
// Zeroying end

// Fonts start
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// Fonts end

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper__fetured {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}
// Index.html start
// Header start

              
.nav__icon {
  fill: #E8E8E8;
  &:hover {
    fill: #F16D7F;
    transition: .30s;
  }
}

.header {
    background: #222222;
    padding: 18px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__inner {
            display: flex;
            align-items: center;
    
            .logo__link {
                margin-right: 41px;

                .logo__pic {
                  display: block;
                  width: 100%;
                  height: 100%;
                }
            }

            .search__btn {
              border: 0;
              background: transparent;

              .search__icon {
                margin-top: 5px;

              }

            }
        }

        .header__nav {
          display: flex;
          align-items: center;

          
            .nav__link {
                margin-right: 33px;

                &:last-child {
                    margin-right: 0;
                }
            }

            // .burger {
            //   border: 0;
            //   cursor: pointer;
            //   margin-right: 30px;
            //   padding: 12px 0;
            //   background: transparent;

            //   &:hover .burger__item,&:hover .burger__item::after, &:hover .burger__item::before {
            //     background: #F16D7F;
            //     transition: .30s;
            //   }

            //   .burger__item {
            //     display: block;
            //     width: 32px;
            //     height: 3px;
            //     background: #fff;
            //     font-size: 0;
            //     color: transparent;
            //     position: relative;

            //     &::before, &::after {
            //       position: absolute;
            //       left: 0;
            //       content: "";
            //       width: 100%;
            //       height: 100%;
            //       background: #fff;
            //     }

            //     &::before {
            //       top: 10px;
            //     }

            //     &::after {
            //       top:-10px;
            //     }
            //   }
              
            // }
              .burger__inner {
                position: relative;
                text-align: center;
                color: #fff;
                width: 320px;
                height: 40px;

                #check__menu {
                  display: none;
                }



                label {
                  position: absolute;
                  top: 0;
                  left: 0;
                  cursor: pointer;
                  z-index: 2;
                  line-height: 40px;
                }

                .burger__line {
                  position: absolute;
                  top: 8px;
                  right: -283px;
                  width: 35px;
                  height: 2px;
                  background-color: #fff;
                  transition: .5s all;
                }

                .second, .third {
                  top: 18px;
                }

                .fourth {
                  top: 28px;
                }

                .burger__menu {
                  display: block;
                  position: absolute;
                  width: 100%;
                  bottom: 0;
                  left: 0;
                  transform: translateY(100%);
                  max-height: 0;
                  font-size: 0;
                  overflow: hidden;
                  transition: .5s all;
                  z-index: 3;

                  .burger__menu_link {
                    display: block;
                    width: 100%;
                    padding: 10px;
                    color: #fff;
                    text-decoration: none;
                    border-top: 1px solid rgba(255,255,255, .3);
                    background: #222222;
                    cursor: pointer;
                  }
                }

                #check__menu:checked ~ .burger__menu {
                  max-height: 500px;
                  font-size: 16px;
                }

                #check__menu:checked ~ .first {
                  display: none;
                }

                #check__menu:checked ~ .second {
                  transform: rotate(45deg);
                }

                #check__menu:checked ~ .third {
                  transform: rotate(-45deg);
                }

                #check__menu:checked ~ .fourth {
                  display: none;
                }


              }


            .pay__button {
              border: 0;
              background: transparent;
              position: relative;
              .pay__index {
                display: block;
                width: 19px;
                height: 19px;
                color: #fff;
                background: #F16D7F;
                border-radius: 50%;
                position: absolute;
                text-align: center;
                line-height: 19px;
                top: -6px;
                right: -12px;
              }
              .pay__icon {

              }
            }

        }
    }
}
// Header end

// Intro start
.intro {
  
  background: #F1E4E6;



  .wrapper__intro {
    margin: 0 auto;
    background: url(../img/man__bg.png) no-repeat;
    background-position: -224px bottom;
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    // .dec__block_intro {
    //   height: 92px;
    //   width: 12px;
    //   background: #F16D7F;
    //   position: absolute;
    //   right: 462px;
    //   top: 339px
    // }

    .intro__text {
      margin-right: 90px;
      border-left: 12px solid #E05C6E;
      padding-left: 16px;

      .intro__title {
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        color: #222222;
      }

      .intro__subtitle {
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        color: #222222;

        .intro__span {
          color: #F16D7F;
        }
      }
    }
  }
}
// Intro end

// Offer start
.wrapper__offer {
  padding: 65px 0 96px;

  .offer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .for__element {
      max-width: 360px;
      width: 100%;
      height: 260px;
      margin-right: 30px;
      position: relative;



      .for__element_pic {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .for__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        background: rgba(33, 22, 22, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;

        .for__bg_text {
          text-align: center;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          text-transform: uppercase;

          .bg__text_span {
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28.8px;
            color: #F16D7F;
            text-transform: uppercase;
          }
        }
      }
    }

    .for__element_long {
      max-width: 100%;
      width: 100%;
      height: 180px;
      margin-top: 30px;
      margin-right: 0;
      position: relative;
  
  
  
      .for__element_pic {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
  
      .for__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        background: rgba(33, 22, 22, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
  
        .for__bg_text {
          text-align: center;
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          text-transform: uppercase;
  
          .bg__text_span {
            font-family: Lato;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28.8px;
            color: #F16D7F;
            text-transform: uppercase;
          }
        }
      }
    }

    .for__element:nth-child(3) {
      margin-right: 0;
    }

  }


}
// Offer end

// Fetured start
.fetured__text {
  text-align: center;


  .fetured__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
  }

  .fetured__subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 48px;
  }
}

.fetured__cards_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .fetured__card {
    width: 360px;
    margin: 0 30px 0 0;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:hover .add__card {
      opacity: 1;
      transition: .30s;
    }



  .fetured__card_link {
    
    .fetured__card_pic {
      display: block;
      max-width: 100%;
      height: auto;



    }
  }

  .fetured__card_text {
    background: #F8F8F8;
    padding: 24px 28px 0 15px;
    .card__title {
      font-family: Lato;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 12px;
    }

    .card__subtitle {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5D5D5D;
      margin-bottom: 18px;
    }

    .card__price {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #F16D7F;
      padding-bottom: 20px;
    }
  }

    .add__card {
      width: 100%;
      height: 420px;
      background: rgba(58, 56, 56, 0.86);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;

      .add__card_link {


        &:hover .add__card_inner {
          border: 1px solid #F16D7F;
          transition: .30s;
        }

        &:hover .add__card_inner .add__card_icon {
          fill: #F16D7F;
          transition: .20s;
        }

        &:hover .add__card_inner .add__card_text {
          color: #F16D7F;
          transition: .10s;
        }

        .add__card_inner {
          border: 1px solid #FFFFFF;
          padding: 12px;
          display: flex;
          align-items: center;
  
          .add__card_icon {
            fill: #fff;
            margin-right: 10px;
          }
  
          .add__card_text {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
          }
        }
      }
    }
  }

}
// Fetured end

// Button
.btn__all_product {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 95px;
  margin-top: 28px;

  .btn__all_link {
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 14px 38px;

    &:hover {
      background: #F26376;
      color: #fff;
      transition: .30s;
    }
  }

}
// button

// Benefits start
.benefits {
  background: #222224;
  padding: 105px 0;

  .benefits__inner {
    display: flex;
    justify-content: space-between;

    .benefits__item {
      text-align: center;
      .benefits__item_pic {
        margin-bottom: 28px;
      }
      .benefits__text {
        .benefits__title {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 19.96px;
          line-height: 24px;
          color: #FBFBFB;
          margin-bottom: 16px;
        }
        .benefits__subtitle {
          font-family: Lato;
          font-style: normal;
          font-weight: 300;
          font-size: 13.972px;
          line-height: 17px;
          text-align: center;
          color: #FBFBFB;
          max-width: 360px;
        }
      }
    }
  }
}
// Benefits end

// Author start
.author {
  background: url(../img/bottom__bg.jpg) no-repeat;
  background-size: cover;
  .author__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 97px 0 156px;

    .author__item {
      max-width: 360px;
      text-align: center;
      .author__pic {
        margin-bottom: 30px;
      }
      .author__quote {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
      }


    }

    .author__item_btn {
      text-align: center;
      margin-top: 50px;
      .author__btn_title {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        color: #222224;
      }
      .author__btn_subtitle {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 167.2%;
        color: #222224;
        margin-bottom: 32px;
      }
      .form {
        
        .email {
          background: #E1E1E1;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          padding: 15px 80px 15px 22px;

          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #222224;
          opacity: 0.67;
        }

        .btn__subscribe {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #FFFFFF;
          background: #E05C6E;
          padding: 15px 20px 15px 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          &:hover {
            background: #c95c6b;
            transition: .30s;
          }
        }
      }

    }

  }
}
// Author end

// Footer start
.footer {
  padding: 25px 10px;
  background: #222222;

  .footer__inner {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    .social__block {

      .social__icon {
        width: 32px;
        height: 32px;
        border: 1px solid #000;
        padding: 8px 7px;
        background: #fff;
  
        &:hover {
          background: #F16D7F;
          fill: #fff;
          transition: .30s;
        }
      }
    }
  }

  .all__rights {

    .all__rights_text {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #FBFBFB;
    }
  }
}
// Footer end
// Index.html end

// Catalog.html start
// Breadcrumb start
.breadcrumb {
  background: #F8F3F4;
  padding: 60px 0;
  margin-bottom: 50px;

  .breadcrumb__inner {
    display: flex;
    justify-content: space-between;
    .news {
      font-size: 24px;
      line-height: 29px;
      color: #F16D7F;
      text-transform: uppercase;
      text-decoration: none;
    }
    .news__filters {

      .news__filters {
        text-transform: uppercase;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;
        transition: .30s;
        &:hover {
          color: #F16D7F;

        }

        &:active, &:focus {
          font-weight: 700;
          color: #F16D7F;
        }

        
      }
    }
  }
}
// Breadcrumb end
// Catalog fetured start
  .cards__filters_inner {
    padding: 0 15px;
    display: flex;
    margin-bottom: 64px;

    .pagination {
      background: none;
      display: block;
      margin-right: 312px;
      .pagination__text {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        text-transform: uppercase;
        margin-right: 10px;
      }
    }

    .sort {
      display: block;
      justify-self: center;
      text-transform: uppercase;
      background: none;

      .sort__text {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-right: 10px;
      }

      .sort__icon {
        fill:#6F6E6E;
        margin-right: 28px;
      }
    }
  }

// Catalog fetured end

.catalog__pages_inner {
  text-align: center;
  margin-bottom: 96px;
  
  .catalog__pages {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 250px;
    height: 43px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #EBEBEB;
    align-items: center;

    .arrow__icon_left{
      margin-right: 15px;
      cursor: pointer;
    }

    .arrow__icon_right{
      cursor: pointer;
    }

    .catalog__pages_item {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #C4C4C4;
      margin-right: 15px;
      transition: .30s;
      opacity: .4;

      &:hover {
        opacity: 1;
      }

      &:active, &:focus{
        color: #EF5B70;
      }

      &:nth-child(1), &:nth-child(7), &:nth-child(8), &:nth-child(10)  {
        margin-right: 0;
      }
    }
  
  }
}
// Catalog.html end

// Product.html start

// carousel start
.carousel-inner {
  width: 1600px;
  height: 777px;
  margin: 0 auto;
  margin-bottom: 42px;

  .carousel-item {


    .d-block {
      margin: 0 auto;
      height: 777px;
    }
  }
}

.carousel-control-prev {
  width: 47px;
  height: 47px;
  top: 50%;
  left: 10%;
  background: #D8D8D8;

  .carousel-control-prev-icon {
    background: url(../img/svg/arrow_carousel_left.svg);
  }
}

.carousel-control-next {
  width: 47px;
  height: 47px;
  top: 50%;
  right: 10%;
  background: #D8D8D8;

  .carousel-control-next-icon {
    background: url(../img/svg/arrow_carousel_right.svg);
  }
}
// carousel end

// collection deskription start


.wrapper__desk {
  position: relative;
  border: 1px solid #EAEAEA;
  border-top:none;
  text-align: center;
  margin-bottom: 130px;

  .top__block {
    position: absolute;

    width: 100%;
    height: 60px;
    background-color: #fff;
    top: -60px;
    left: 0;
    border: 1px solid #EAEAEA;
    border-bottom:none;
  }

  .desk__text {
    padding-top: 64px;
    width: 641px;
    margin: 0 auto;
    border-bottom: 1px solid #EAEAEA;

    .desk__title {
      text-transform: uppercase;
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #F16D7F;

      &::after {
        display: block;
        content: "";
        width: 63px;
        height: 3px;
        background: #EF5B70;
        margin: 12px auto;
      }

    }

    .desk__subtitle {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #4D4D4D;
      margin-bottom: 48px;
    }

    .desk__info {
      width: 555px;
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #5E5E5E;
      margin: 0 auto 32px; 
    }

    .desk__price {
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #EF5B70;
      margin-bottom: 65px;

    }
  }
}

.desk__filters {
  padding-top: 65px;
  .sort {
    // display: block;
    text-transform: uppercase;
    background: none;
  
    .sort__text {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
      margin-right: 10px;
    }
  
    .sort__icon {
      fill:#6F6E6E;
      margin-right: 28px;
    }
  }
}
.desk__btn {
  margin: 50px 0 65px;
  background: none;
  border: 1px solid #FF6A6A;
  padding: 15px 56px 8px 23px;

  &:hover {
    background: #FF6A6A;
    transition: .30s;
  }

  &:hover .desk__btn_inner .desk__pay_icon {
    fill: #fff;
    transition: .30s;
  }

  &:hover .desk__btn_inner .desk__btn_text {
    color: #fff;
    transition: .30s;
  }

  .desk__btn_inner {
    display: flex;
    align-items: center;



    .desk__pay_icon {
      fill: #F26376;
      margin-right: 22px;
    }

    .desk__btn_text {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #F26376;
    }
  }
}
// collection description end

// Product.html end

// Cart.html start
// shopping__carts start
.shopping__carts{
  padding: 50px 0 128px;

  .shopping__inner {
    display: flex;
    justify-content: space-between;


    .shopping__card {
     display: flex;
     align-items: flex-start;
     margin-bottom: 40px;
     box-shadow: (17px 19px 24px rgba(0, 0, 0, 0.13));
     position: relative;
     


     .shopping__card_text {
       padding: 22px 31px 31px 62px;
       width: 390px;

       .shopping__text_title {
         width: 100%;
         max-width: 210px;
         font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        margin-bottom: 42px;
       }

        .shopping__text_subtitle {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 26px;
          color: #575757;
          display: flex;

          .quantity {
            margin-left: 24px;
            padding: 1px 17px;
            border: 1px solid #EAEAEA;

          }

          .shop-red {
            color: #EF5B70;
          }

        }
     }

     .card--cross {
       position: absolute;
       top: 28px;
       right: 22px;

       .cross--btn {
         background: none;
         border: 0;
       }
     }

    }

    .shopping--btns {
      display: flex;
      justify-content: space-between;

      .shopping--btn {
        background: none;
        padding: 17px 40px;
        text-transform: uppercase;
        border: 1px solid #A4A4A4;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        transition: .3s;

        &:hover {
          background: #000;
          color: #fff;
        }

      }
    }

    .shipping--address {
      text-align: left;
      .shipping--title {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-bottom: 20px;
      }

      .shipping--input {
        display: block;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        width: 359px;
        padding: 12px 0 16px 16px;
        border: 1px solid #A4A4A4;
        margin-bottom: 20px;

        
        &:last-child {
          margin-bottom: 24px;
        }

      }
      
      .country {
        opacity: .4;
      }

      .quote {
        background: none;
        padding: 9px 14px 11px;
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        border: 1px solid #A4A4A4;
        margin-bottom: 58px;
      }

      .cost--block{
        background: #F5F3F3;
        padding: 39px 34px 42px 44px;
        text-align: right;

        .sub--total-text {
          margin-bottom: 12px;

          .sub--total-cost {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
          }
          .sub--total-price {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 13px;
            color: #4A4A4A;
            margin-left: 24px;
          }
        }

        .grand--total-text {
          margin-bottom: 12px;

          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background: #E2E2E2;
            margin-top: 21px;
            margin-bottom: 17px;
          }

          .grand--total-cost {
            text-transform: uppercase;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
          }
          .grand--total-price {
            text-transform: uppercase;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-left: 24px;
          }
        }

        .cost--btn {
          background: #F16D7F;;
          display: block;
          margin: 0 auto;
          padding: 15px 43px 16px 41px;
          text-transform: uppercase;
          font-family: Lato;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          transition: .3s;

          &:hover {
            background: #d46170;

          }
        }
      }

    }
  }
}

// shopping__carts end
// Cart.html end

