@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin-bottom: 0;
}

img {
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper__fetured {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
}

.nav__icon {
  fill: #E8E8E8;
}

.nav__icon:hover {
  fill: #F16D7F;
  -webkit-transition: .30s;
  transition: .30s;
}

.header {
  background: #222222;
  padding: 18px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__inner .logo__link {
  margin-right: 41px;
}

.header__wrapper .header__inner .logo__link .logo__pic {
  display: block;
  width: 100%;
  height: 100%;
}

.header__wrapper .header__inner .search__btn {
  border: 0;
  background: transparent;
}

.header__wrapper .header__inner .search__btn .search__icon {
  margin-top: 5px;
}

.header__wrapper .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__nav .nav__link {
  margin-right: 33px;
}

.header__wrapper .header__nav .nav__link:last-child {
  margin-right: 0;
}

.header__wrapper .header__nav .burger__inner {
  position: relative;
  text-align: center;
  color: #fff;
  width: 320px;
  height: 40px;
}

.header__wrapper .header__nav .burger__inner #check__menu {
  display: none;
}

.header__wrapper .header__nav .burger__inner label {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.header__wrapper .header__nav .burger__inner .burger__line {
  position: absolute;
  top: 8px;
  right: -283px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.header__wrapper .header__nav .burger__inner .second, .header__wrapper .header__nav .burger__inner .third {
  top: 18px;
}

.header__wrapper .header__nav .burger__inner .fourth {
  top: 28px;
}

.header__wrapper .header__nav .burger__inner .burger__menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: .5s all;
  transition: .5s all;
  z-index: 3;
}

.header__wrapper .header__nav .burger__inner .burger__menu .burger__menu_link {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background: #222222;
  cursor: pointer;
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .burger__menu {
  max-height: 500px;
  font-size: 16px;
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .first {
  display: none;
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .fourth {
  display: none;
}

.header__wrapper .header__nav .pay__button {
  border: 0;
  background: transparent;
  position: relative;
}

.header__wrapper .header__nav .pay__button .pay__index {
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  background: #F16D7F;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 19px;
  top: -6px;
  right: -12px;
}

.intro {
  background: #F1E4E6;
}

.intro .wrapper__intro {
  margin: 0 auto;
  background: url(../img/man__bg.png) no-repeat;
  background-position: -224px bottom;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.intro .wrapper__intro .intro__text {
  margin-right: 90px;
  border-left: 12px solid #E05C6E;
  padding-left: 16px;
}

.intro .wrapper__intro .intro__text .intro__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  color: #222222;
}

.intro .wrapper__intro .intro__text .intro__subtitle {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #222222;
}

.intro .wrapper__intro .intro__text .intro__subtitle .intro__span {
  color: #F16D7F;
}

.wrapper__offer {
  padding: 65px 0 96px;
}

.wrapper__offer .offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper__offer .offer__inner .for__element {
  max-width: 360px;
  width: 100%;
  height: 260px;
  margin-right: 30px;
  position: relative;
}

.wrapper__offer .offer__inner .for__element .for__element_pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper__offer .offer__inner .for__element .for__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__offer .offer__inner .for__element .for__bg .for__bg_text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element .for__bg .for__bg_text .bg__text_span {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element_long {
  max-width: 100%;
  width: 100%;
  height: 180px;
  margin-top: 30px;
  margin-right: 0;
  position: relative;
}

.wrapper__offer .offer__inner .for__element_long .for__element_pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper__offer .offer__inner .for__element_long .for__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__offer .offer__inner .for__element_long .for__bg .for__bg_text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element_long .for__bg .for__bg_text .bg__text_span {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element:nth-child(3) {
  margin-right: 0;
}

.fetured__text {
  text-align: center;
}

.fetured__text .fetured__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.fetured__text .fetured__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.fetured__cards_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured__cards_inner .fetured__card {
  width: 360px;
  margin: 0 30px 0 0;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fetured__cards_inner .fetured__card:nth-child(3n) {
  margin-right: 0;
}

.fetured__cards_inner .fetured__card:hover .add__card {
  opacity: 1;
  -webkit-transition: .30s;
  transition: .30s;
}

.fetured__cards_inner .fetured__card .fetured__card_link .fetured__card_pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.fetured__cards_inner .fetured__card .fetured__card_text {
  background: #F8F8F8;
  padding: 24px 28px 0 15px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
}

.fetured__cards_inner .fetured__card .add__card {
  width: 100%;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner {
  border: 1px solid #F16D7F;
  -webkit-transition: .30s;
  transition: .30s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner .add__card_icon {
  fill: #F16D7F;
  -webkit-transition: .20s;
  transition: .20s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner .add__card_text {
  color: #F16D7F;
  -webkit-transition: .10s;
  transition: .10s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner {
  border: 1px solid #FFFFFF;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner .add__card_icon {
  fill: #fff;
  margin-right: 10px;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner .add__card_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn__all_product {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 95px;
  margin-top: 28px;
}

.btn__all_product .btn__all_link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  padding: 14px 38px;
}

.btn__all_product .btn__all_link:hover {
  background: #F26376;
  color: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.benefits {
  background: #222224;
  padding: 105px 0;
}

.benefits .benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits .benefits__inner .benefits__item {
  text-align: center;
}

.benefits .benefits__inner .benefits__item .benefits__item_pic {
  margin-bottom: 28px;
}

.benefits .benefits__inner .benefits__item .benefits__text .benefits__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.benefits .benefits__inner .benefits__item .benefits__text .benefits__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  max-width: 360px;
}

.author {
  background: url(../img/bottom__bg.jpg) no-repeat;
  background-size: cover;
}

.author .author__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 97px 0 156px;
}

.author .author__inner .author__item {
  max-width: 360px;
  text-align: center;
}

.author .author__inner .author__item .author__pic {
  margin-bottom: 30px;
}

.author .author__inner .author__item .author__quote {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.author .author__inner .author__item_btn {
  text-align: center;
  margin-top: 50px;
}

.author .author__inner .author__item_btn .author__btn_title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.author .author__inner .author__item_btn .author__btn_subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 167.2%;
  color: #222224;
  margin-bottom: 32px;
}

.author .author__inner .author__item_btn .form .email {
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px 80px 15px 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.author .author__inner .author__item_btn .form .btn__subscribe {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #E05C6E;
  padding: 15px 20px 15px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.author .author__inner .author__item_btn .form .btn__subscribe:hover {
  background: #c95c6b;
  -webkit-transition: .30s;
  transition: .30s;
}

.footer {
  padding: 25px 10px;
  background: #222222;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__inner .social__block .social__icon {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  padding: 8px 7px;
  background: #fff;
}

.footer .footer__inner .social__block .social__icon:hover {
  background: #F16D7F;
  fill: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.footer .all__rights .all__rights_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.breadcrumb {
  background: #F8F3F4;
  padding: 60px 0;
  margin-bottom: 50px;
}

.breadcrumb .breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb .breadcrumb__inner .news {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.breadcrumb .breadcrumb__inner .news__filters .news__filters {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  -webkit-transition: .30s;
  transition: .30s;
}

.breadcrumb .breadcrumb__inner .news__filters .news__filters:hover {
  color: #F16D7F;
}

.breadcrumb .breadcrumb__inner .news__filters .news__filters:active, .breadcrumb .breadcrumb__inner .news__filters .news__filters:focus {
  font-weight: 700;
  color: #F16D7F;
}

.cards__filters_inner {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
}

.cards__filters_inner .pagination {
  background: none;
  display: block;
  margin-right: 312px;
}

.cards__filters_inner .pagination .pagination__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 10px;
}

.cards__filters_inner .sort {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  background: none;
}

.cards__filters_inner .sort .sort__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.cards__filters_inner .sort .sort__icon {
  fill: #6F6E6E;
  margin-right: 28px;
}

.catalog__pages_inner {
  text-align: center;
  margin-bottom: 96px;
}

.catalog__pages_inner .catalog__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 250px;
  height: 43px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #EBEBEB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__pages_inner .catalog__pages .arrow__icon_left {
  margin-right: 15px;
  cursor: pointer;
}

.catalog__pages_inner .catalog__pages .arrow__icon_right {
  cursor: pointer;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  margin-right: 15px;
  -webkit-transition: .30s;
  transition: .30s;
  opacity: .4;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:hover {
  opacity: 1;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:active, .catalog__pages_inner .catalog__pages .catalog__pages_item:focus {
  color: #EF5B70;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(1), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(7), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(8), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(10) {
  margin-right: 0;
}

.carousel-inner {
  width: 1600px;
  height: 777px;
  margin: 0 auto;
  margin-bottom: 42px;
}

.carousel-inner .carousel-item .d-block {
  margin: 0 auto;
  height: 777px;
}

.carousel-control-prev {
  width: 47px;
  height: 47px;
  top: 50%;
  left: 10%;
  background: #D8D8D8;
}

.carousel-control-prev .carousel-control-prev-icon {
  background: url(../img/svg/arrow_carousel_left.svg);
}

.carousel-control-next {
  width: 47px;
  height: 47px;
  top: 50%;
  right: 10%;
  background: #D8D8D8;
}

.carousel-control-next .carousel-control-next-icon {
  background: url(../img/svg/arrow_carousel_right.svg);
}

.wrapper__desk {
  position: relative;
  border: 1px solid #EAEAEA;
  border-top: none;
  text-align: center;
  margin-bottom: 130px;
}

.wrapper__desk .top__block {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #fff;
  top: -60px;
  left: 0;
  border: 1px solid #EAEAEA;
  border-bottom: none;
}

.wrapper__desk .desk__text {
  padding-top: 64px;
  width: 641px;
  margin: 0 auto;
  border-bottom: 1px solid #EAEAEA;
}

.wrapper__desk .desk__text .desk__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.wrapper__desk .desk__text .desk__title::after {
  display: block;
  content: "";
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
}

.wrapper__desk .desk__text .desk__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.wrapper__desk .desk__text .desk__info {
  width: 555px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 0 auto 32px;
}

.wrapper__desk .desk__text .desk__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.desk__filters {
  padding-top: 65px;
}

.desk__filters .sort {
  text-transform: uppercase;
  background: none;
}

.desk__filters .sort .sort__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.desk__filters .sort .sort__icon {
  fill: #6F6E6E;
  margin-right: 28px;
}

.desk__btn {
  margin: 50px 0 65px;
  background: none;
  border: 1px solid #FF6A6A;
  padding: 15px 56px 8px 23px;
}

.desk__btn:hover {
  background: #FF6A6A;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn:hover .desk__btn_inner .desk__pay_icon {
  fill: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn:hover .desk__btn_inner .desk__btn_text {
  color: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn .desk__btn_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desk__btn .desk__btn_inner .desk__pay_icon {
  fill: #F26376;
  margin-right: 22px;
}

.desk__btn .desk__btn_inner .desk__btn_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.shopping__carts {
  padding: 50px 0 128px;
}

.shopping__carts .shopping__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__carts .shopping__inner .shopping__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}

.shopping__carts .shopping__inner .shopping__card .shopping__card_text {
  padding: 22px 31px 31px 62px;
  width: 390px;
}

.shopping__carts .shopping__inner .shopping__card .shopping__card_text .shopping__text_title {
  width: 100%;
  max-width: 210px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.shopping__carts .shopping__inner .shopping__card .shopping__card_text .shopping__text_subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__carts .shopping__inner .shopping__card .shopping__card_text .shopping__text_subtitle .quantity {
  margin-left: 24px;
  padding: 1px 17px;
  border: 1px solid #EAEAEA;
}

.shopping__carts .shopping__inner .shopping__card .shopping__card_text .shopping__text_subtitle .shop-red {
  color: #EF5B70;
}

.shopping__carts .shopping__inner .shopping__card .card--cross {
  position: absolute;
  top: 28px;
  right: 22px;
}

.shopping__carts .shopping__inner .shopping__card .card--cross .cross--btn {
  background: none;
  border: 0;
}

.shopping__carts .shopping__inner .shopping--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__carts .shopping__inner .shopping--btns .shopping--btn {
  background: none;
  padding: 17px 40px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.shopping__carts .shopping__inner .shopping--btns .shopping--btn:hover {
  background: #000;
  color: #fff;
}

.shopping__carts .shopping__inner .shipping--address {
  text-align: left;
}

.shopping__carts .shopping__inner .shipping--address .shipping--title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.shopping__carts .shopping__inner .shipping--address .shipping--input {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  width: 359px;
  padding: 12px 0 16px 16px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
}

.shopping__carts .shopping__inner .shipping--address .shipping--input:last-child {
  margin-bottom: 24px;
}

.shopping__carts .shopping__inner .shipping--address .country {
  opacity: .4;
}

.shopping__carts .shopping__inner .shipping--address .quote {
  background: none;
  padding: 9px 14px 11px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  margin-bottom: 58px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block {
  background: #F5F3F3;
  padding: 39px 34px 42px 44px;
  text-align: right;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text {
  margin-bottom: 12px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text .sub--total-cost {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text .sub--total-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-left: 24px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text {
  margin-bottom: 12px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #E2E2E2;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text .grand--total-cost {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text .grand--total-price {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-left: 24px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .cost--btn {
  background: #F16D7F;
  display: block;
  margin: 0 auto;
  padding: 15px 43px 16px 41px;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .cost--btn:hover {
  background: #d46170;
}
/*# sourceMappingURL=style.css.map */