@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper__fetured {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  padding: 0px 7px 0;
}

.nav__icon {
  fill: #E8E8E8;
}

.nav__icon:hover {
  fill: #F16D7F;
  -webkit-transition: .30s;
  transition: .30s;
}

.header {
  background: #222222;
  padding: 18px 24px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__inner .logo__link {
  margin-right: 41px;
}

.header__wrapper .header__inner .logo__link .logo__pic {
  display: block;
  width: 100%;
  height: 100%;
}

.header__wrapper .header__inner .search__btn {
  border: 0;
  background: transparent;
}

.header__wrapper .header__inner .search__btn .search__icon {
  margin-top: 5px;
}

.header__wrapper .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .header__nav .burger__inner {
  position: relative;
  text-align: center;
  margin-right: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.header__wrapper .header__nav .burger__inner #check__menu {
  display: none;
}

.header__wrapper .header__nav .burger__inner .burger__irea {
  display: block;
  cursor: pointer;
  padding: 15px 4px;
}

.header__wrapper .header__nav .burger__inner .burger__irea .burger__line {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
}

.header__wrapper .header__nav .burger__inner .burger__irea .burger__line::before {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__wrapper .header__nav .burger__inner .burger__irea .burger__line::after {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.header__wrapper .header__nav .burger__inner_items {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  top: 0;
  left: -104px;
  -webkit-transform: translateY(53px);
          transform: translateY(53px);
  width: 250px;
  background-color: rgba(0, 0, 0, 0.801);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header__wrapper .header__nav .burger__inner_items .burger__item {
  height: 35px;
}

.header__wrapper .header__nav .burger__inner_items .burger__item_link {
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
}

.header__wrapper .header__nav .burger__inner_items .burger__item_link:hover {
  color: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__wrapper .header__nav .burger__inner_items .mobile__item {
  display: none;
}

.header__wrapper .header__nav .burger__inner #check__menu:checked ~ .burger__inner_items {
  visibility: visible;
  -webkit-transition: .3;
  transition: .3;
}

.header__wrapper .header__nav .burger__inner:hover .burger__line {
  background-color: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__wrapper .header__nav .burger__inner:hover .burger__line::before {
  background-color: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__wrapper .header__nav .burger__inner:hover .burger__line::after {
  background-color: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__wrapper .header__nav .nav__link {
  margin-right: 33px;
}

.header__wrapper .header__nav .nav__link:last-child {
  margin-right: 0;
}

.header__wrapper .header__nav .pay__button {
  border: 0;
  background: transparent;
  position: relative;
}

.header__wrapper .header__nav .pay__button .pay__index {
  display: block;
  width: 19px;
  height: 19px;
  color: #fff;
  background: #F16D7F;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 19px;
  top: -6px;
  right: -12px;
}

.intro {
  background: #F1E4E6;
}

.intro .wrapper__intro {
  margin: 0 auto;
  background: url(../img/man__bg.png) no-repeat;
  background-position: -224px bottom;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.intro .wrapper__intro .intro__text {
  margin-right: 90px;
  border-left: 12px solid #E05C6E;
  padding-left: 16px;
}

.intro .wrapper__intro .intro__text .intro__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: #222222;
}

.intro .wrapper__intro .intro__text .intro__subtitle {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  color: #222222;
}

.intro .wrapper__intro .intro__text .intro__subtitle .intro__span {
  color: #F16D7F;
}

.wrapper__offer {
  padding: 65px 0px 96px;
}

.wrapper__offer .offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper__offer .offer__inner .for__element {
  width: 31.58%;
  height: 260px;
  position: relative;
}

.wrapper__offer .offer__inner .for__element .for__element_pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper__offer .offer__inner .for__element .for__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__offer .offer__inner .for__element .for__bg .for__bg_text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element .for__bg .for__bg_text .bg__text_span {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element_long {
  max-width: 100%;
  width: 100%;
  height: 180px;
  margin-top: 30px;
  margin-right: 0;
  position: relative;
}

.wrapper__offer .offer__inner .for__element_long .for__element_pic {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper__offer .offer__inner .for__element_long .for__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background: rgba(33, 22, 22, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__offer .offer__inner .for__element_long .for__bg .for__bg_text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element_long .for__bg .for__bg_text .bg__text_span {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #F16D7F;
  text-transform: uppercase;
}

.wrapper__offer .offer__inner .for__element:nth-child(3) {
  margin-right: 0;
}

.fetured__text {
  text-align: center;
}

.fetured__text .fetured__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 6px;
}

.fetured__text .fetured__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 48px;
}

.fetured__cards_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fetured__cards_inner .fetured__card {
  width: 360px;
  margin: 0 30px 0 0;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.fetured__cards_inner .fetured__card:nth-child(3n) {
  margin-right: 0;
}

.fetured__cards_inner .fetured__card:hover .add__card {
  opacity: 1;
  -webkit-transition: .30s;
  transition: .30s;
}

.fetured__cards_inner .fetured__card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: .3s;
  transition: .3s;
}

.fetured__cards_inner .fetured__card .fetured__card_link .fetured__card_pic {
  display: block;
  max-width: 100%;
  height: auto;
}

.fetured__cards_inner .fetured__card .fetured__card_text {
  background: #F8F8F8;
  padding: 24px 28px 0 15px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}

.fetured__cards_inner .fetured__card .fetured__card_text .card__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  padding-bottom: 20px;
}

.fetured__cards_inner .fetured__card .add__card {
  width: 100%;
  height: 420px;
  background: rgba(58, 56, 56, 0.86);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner {
  border: 1px solid #F16D7F;
  -webkit-transition: .30s;
  transition: .30s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner .add__card_icon {
  fill: #F16D7F;
  -webkit-transition: .20s;
  transition: .20s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link:hover .add__card_inner .add__card_text {
  color: #F16D7F;
  -webkit-transition: .10s;
  transition: .10s;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner {
  border: 1px solid #FFFFFF;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner .add__card_icon {
  fill: #fff;
  margin-right: 10px;
}

.fetured__cards_inner .fetured__card .add__card .add__card_link .add__card_inner .add__card_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.btn__all_product {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 95px;
  margin-top: 28px;
}

.btn__all_product .btn__all_link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  padding: 14px 38px;
}

.btn__all_product .btn__all_link:hover {
  background: #F26376;
  color: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.benefits {
  background: #222224;
  padding: 105px 0;
}

.benefits .benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits .benefits__inner .benefits__item {
  text-align: center;
}

.benefits .benefits__inner .benefits__item .benefits__item_pic {
  margin-bottom: 28px;
}

.benefits .benefits__inner .benefits__item .benefits__text .benefits__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.benefits .benefits__inner .benefits__item .benefits__text .benefits__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  max-width: 360px;
}

.author {
  background: url(../img/bottom__bg.jpg) no-repeat;
  background-size: cover;
}

.author .author__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 97px 0 156px;
}

.author .author__inner .author__item {
  max-width: 360px;
  text-align: center;
}

.author .author__inner .author__item .author__pic {
  margin-bottom: 30px;
}

.author .author__inner .author__item .author__quote {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.author .author__inner .author__item_btn {
  text-align: center;
  margin-top: 50px;
}

.author .author__inner .author__item_btn .author__btn_title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
}

.author .author__inner .author__item_btn .author__btn_subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 167.2%;
  color: #222224;
  margin-bottom: 32px;
}

.author .author__inner .author__item_btn .form .email {
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 15px 80px 15px 22px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.author .author__inner .author__item_btn .form .btn__subscribe {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #E05C6E;
  padding: 15px 20px 15px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.author .author__inner .author__item_btn .form .btn__subscribe:hover {
  background: #c95c6b;
  -webkit-transition: .30s;
  transition: .30s;
}

.footer {
  padding: 25px 10px;
  background: #222222;
}

.footer .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__inner .social__block .social__icon {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  padding: 8px 7px;
  background: #fff;
}

.footer .footer__inner .social__block .social__icon:hover {
  background: #F16D7F;
  fill: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.footer .all__rights .all__rights_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.breadcrumb {
  background: #F8F3F4;
  padding: 60px 30px;
  margin-bottom: 50px;
}

.breadcrumb .bread__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb .bread__wrapper .news {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  margin-bottom: 0;
}

.breadcrumb .bread__wrapper .breadcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 18px;
}

.breadcrumb .bread__wrapper .breadcrumb__inner_item {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb .bread__wrapper .breadcrumb__inner_item::before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb .bread__wrapper .breadcrumb__inner_item:first-child:before {
  padding: 0px;
  content: "";
}

.breadcrumb .bread__wrapper .breadcrumb__inner_item_link {
  color: #636363;
}

.breadcrumb .bread__wrapper .breadcrumb__inner_item_link:focus, .breadcrumb .bread__wrapper .breadcrumb__inner_item_link:active {
  color: #F16D7F;
  -webkit-transition: .3s;
  transition: .3s;
  font-weight: 700;
}

.cards__filters_inner {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  position: relative;
  z-index: 5;
}

.cards__filters_inner .filter__inner {
  margin-right: 312px;
}

.cards__filters_inner .filter__inner #check__filters {
  display: none;
}

.cards__filters_inner .filter__inner #check__filters:checked ~ .filters__menu_items {
  display: block;
}

.cards__filters_inner .filter__inner .filters__menu {
  background: none;
  display: block;
  position: relative;
  z-index: 5;
  cursor: pointer;
}

.cards__filters_inner .filter__inner .filters__menu:hover .pagination__text {
  color: #EF5B70;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__filters_inner .filter__inner .filters__menu:hover .filters__icon {
  fill: #EF5B70;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__filters_inner .filter__inner .filters__menu .pagination__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  margin-right: 10px;
}

.cards__filters_inner .filter__inner .filters__menu_items {
  display: none;
  position: absolute;
  z-index: 2;
  top: -20px;
  padding-top: 50px;
  padding-left: 16px;
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
  background: #FFFFFF;
  width: 360px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.cards__filters_inner .filter__inner .filters__menu_items .filters__menu_categorys {
  border-bottom: 1px solid #EBEBEB;
  height: 37px;
  margin-bottom: 18px;
}

.cards__filters_inner .filter__inner .filters__menu_items .filters__menu_categorys .usless__input {
  display: none;
}

.cards__filters_inner .filter__inner .filters__menu_items .filters__menu_categorys .filters__sub_dec {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 37px;
  color: #6F6E6E;
  cursor: pointer;
  padding-left: 15px;
}

.cards__filters_inner .filter__inner .filters__menu_items .filters__menu_categorys .filters__sub_dec:hover {
  color: #EF5B70;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__filters_inner .filter__inner .filters__menu_items .filters__menu_categorys .filters__sub_dec::before {
  content: '';
  display: block;
  height: 37px;
  width: 5px;
  background-color: #EF5B70;
  position: absolute;
}

.cards__filters_inner .filter__inner .filters__menu_items .subm__category_items {
  margin-bottom: 24px;
}

.cards__filters_inner .filter__inner .filters__menu_items .subm__category_items .category__item {
  margin-bottom: 11px;
}

.cards__filters_inner .filter__inner .filters__menu_items .subm__category_items .category__item .category__item_text {
  cursor: pointer;
  padding-left: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.cards__filters_inner .filter__inner .filters__menu_items .subm__category_items .category__item .category__item_text:hover {
  color: #EF5B70;
  -webkit-transition: .3s;
  transition: .3s;
}

.cards__filters_inner .sort__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cards__filters_inner .sort__wrapper .sort {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  background: none;
  position: relative;
}

.cards__filters_inner .sort__wrapper .sort #check__size {
  display: none;
}

.cards__filters_inner .sort__wrapper .sort #check__size:checked ~ .size__menu {
  display: block;
}

.cards__filters_inner .sort__wrapper .sort .sort__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
  cursor: pointer;
}

.cards__filters_inner .sort__wrapper .sort .sort__icon {
  fill: #6F6E6E;
  margin-right: 28px;
  cursor: pointer;
}

.cards__filters_inner .sort__wrapper .sort .sort__icon_last {
  margin-right: 0;
}

.cards__filters_inner .sort__wrapper .sort .size__menu {
  display: none;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  height: 103px;
  width: 79px;
  text-align: center;
}

.cards__filters_inner .sort__wrapper .sort .size__menu .size__menu_item {
  text-align: left;
  margin-top: 7px;
  margin-left: 9px;
}

.cards__filters_inner .sort__wrapper .sort .size__menu .size__menu_item .size__value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.cards__filters_inner body > section.collection__desk > div > div.desk__filters > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.catalog__pages_inner {
  text-align: center;
  margin-bottom: 96px;
}

.catalog__pages_inner .catalog__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 250px;
  height: 43px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #EBEBEB;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__pages_inner .catalog__pages .arrow__icon_left {
  margin-right: 15px;
  cursor: pointer;
}

.catalog__pages_inner .catalog__pages .arrow__icon_right {
  cursor: pointer;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  margin-right: 15px;
  -webkit-transition: .30s;
  transition: .30s;
  opacity: .4;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:hover {
  opacity: 1;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:active, .catalog__pages_inner .catalog__pages .catalog__pages_item:focus {
  color: #EF5B70;
}

.catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(1), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(7), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(8), .catalog__pages_inner .catalog__pages .catalog__pages_item:nth-child(10) {
  margin-right: 0;
}

.carousel {
  background: #F7F7F7;
}

.d-block {
  display: block;
  max-width: 597px;
  margin: 0 auto;
  width: 100%;
}

.carousel-control-prev-icon {
  background: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-control-next-icon {
  background: #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__icon {
  height: 20px;
  display: block;
  margin: 0 auto;
}

.carousel__icon:hover, .carousel__icon:active {
  -webkit-transition: .3s;
  transition: .3s;
  fill: #F16D7F;
}

.wrapper__desk {
  position: relative;
  border: 1px solid #EAEAEA;
  border-top: none;
  text-align: center;
  margin-bottom: 130px;
}

.wrapper__desk .top__block {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #fff;
  top: -60px;
  left: 0;
  border: 1px solid #EAEAEA;
  border-bottom: none;
}

.wrapper__desk .desk__text {
  padding-top: 64px;
  max-width: 641px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #EAEAEA;
}

.wrapper__desk .desk__text .desk__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.wrapper__desk .desk__text .desk__title::after {
  display: block;
  content: "";
  max-width: 63px;
  width: 100%;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
}

.wrapper__desk .desk__text .desk__subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 48px;
}

.wrapper__desk .desk__text .desk__info {
  max-width: 555px;
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 0 auto 32px;
}

.wrapper__desk .desk__text .desk__price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 65px;
}

.desk__filters {
  padding-top: 65px;
}

.desk__filters .sort {
  text-transform: uppercase;
  background: none;
}

.desk__filters .sort .sort__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
}

.desk__filters .sort .sort__icon {
  fill: #6F6E6E;
  margin-right: 28px;
}

.desk__btn {
  margin: 50px auto 65px;
  background: none;
  border: 1px solid #FF6A6A;
  padding: 6px 51px 10px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desk__btn:hover {
  background: #FF6A6A;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn:hover .desk__pay_icon {
  fill: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn:hover .desk__btn_text {
  color: #fff;
  -webkit-transition: .30s;
  transition: .30s;
}

.desk__btn .desk__pay_icon {
  fill: #F26376;
  margin-right: 22px;
}

.desk__btn .desk__btn_text {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort {
  display: block;
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  background: none;
  position: relative;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort #check__size {
  display: none;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort #check__size:checked ~ .size__menu {
  display: block;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .sort__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 10px;
  cursor: pointer;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .sort__icon {
  fill: #6F6E6E;
  margin-right: 28px;
  cursor: pointer;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .sort__icon_last {
  margin-right: 0;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .size__menu {
  display: none;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  height: 103px;
  width: 79px;
  text-align: center;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .size__menu .size__menu_item {
  text-align: left;
  margin-top: 7px;
  margin-left: 9px;
}

.collection__desk .wrapper__desk .desk__filters .sort__wrapper .sort .size__menu .size__menu_item .size__value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn {
  background: none;
  text-align: center;
  padding: 14px 56px 8px 23px;
  border: 1px solid #FF6A6A;
  margin-bottom: 65px;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #FF6A6A;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn:hover .filters_btn_icon {
  -webkit-transition: .3s;
  transition: .3s;
  fill: #fff;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn:hover .filters_btn_text {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn .filters_btn_icon {
  fill: #F26376;
  margin-right: 22px;
}

.collection__desk .wrapper__desk .desk__filters .desk__filters_btn .filters_btn_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.shopping__carts {
  padding: 50px 0 128px;
}

.shopping__carts .shopping__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.shopping__carts .shopping__inner .carts_inner {
  max-width: 652px;
  width: 100%;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  position: relative;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_pic {
  display: block;
  max-width: 262px;
  width: 100%;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text {
  padding: 22px 31px 31px 31px;
  max-width: 390px;
  width: 100%;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_title {
  width: 100%;
  max-width: 210px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_subtitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_subtitle .quantity {
  margin-left: 24px;
  padding: 1px 10px 1px 14px;
  width: 43px;
  border: 1px solid #EAEAEA;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_subtitle .shop-red {
  color: #EF5B70;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .card--cross {
  position: absolute;
  top: 28px;
  right: 22px;
}

.shopping__carts .shopping__inner .carts_inner .shopping__card .card--cross .cross--btn {
  background: none;
  border: 0;
}

.shopping__carts .shopping__inner .shopping--btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__carts .shopping__inner .shopping--btns .shopping--btn {
  background: none;
  padding: 17px 40px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-transition: .3s;
  transition: .3s;
}

.shopping__carts .shopping__inner .shopping--btns .shopping--btn:hover {
  background: #000;
  color: #fff;
}

.shopping__carts .shopping__inner .shipping--address {
  text-align: left;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form {
  width: 100%;
  text-align: center;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form .shipping--title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form .shipping--input {
  display: block;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 359px;
  width: 100%;
  padding: 12px 0 16px 16px;
  border: 1px solid #A4A4A4;
  margin: 0px auto 20px;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form .shipping--input:last-child {
  margin-bottom: 24px;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form .country {
  opacity: .4;
}

.shopping__carts .shopping__inner .shipping--address .shipping__form .quote {
  background: none;
  padding: 9px 14px 11px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  margin-bottom: 58px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block {
  background: #F5F3F3;
  padding: 39px 34px 42px 44px;
  text-align: right;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text {
  margin-bottom: 12px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text .sub--total-cost {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .sub--total-text .sub--total-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-left: 24px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text {
  margin-bottom: 12px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background: #E2E2E2;
  margin-top: 21px;
  margin-bottom: 17px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text .grand--total-cost {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .grand--total-text .grand--total-price {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-left: 24px;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .cost--btn {
  background: #F16D7F;
  display: block;
  margin: 0 auto;
  padding: 15px 43px 16px 41px;
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.shopping__carts .shopping__inner .shipping--address .cost--block .cost--btn:hover {
  background: #d46170;
}

.breadcrumb__reg {
  margin-bottom: 64px;
}

.registration__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 96px;
}

.registration__inner {
  padding-right: 22px;
}

.registration__inner .name__title {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20px;
}

.registration__inner .registration__input {
  display: block;
  padding: 13px 0 16px 17px;
  border: 1px solid #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: .6;
  max-width: 360px;
  width: 100%;
}

.registration__inner .registration__input:hover, .registration__inner .registration__input:active {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.registration__inner .first__name_input {
  margin-bottom: 21px;
}

.registration__inner .last__name_input {
  margin-bottom: 31px;
}

.registration__inner .radio__text {
  margin-right: 20px;
}

.registration__inner .radio__text .radio__btn {
  margin-right: 10px;
}

.registration__inner .login__title {
  margin-top: 33px;
  margin-bottom: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration__inner .email_input {
  margin-bottom: 21px;
}

.registration__inner .password_input {
  margin-bottom: 15px;
}

.registration__inner .pass__manual {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  max-width: 360px;
  margin-bottom: 39px;
}

.registration__inner .reg__btn {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 16px 25px 17px 29px;
  background: #F16D7F;
}

.registration__inner .reg__btn:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #d16271;
}

.registration__inner .reg__btn:hover .reg__btn_icon {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .3s;
  transition: .3s;
}

.registration__inner .reg__btn .reg__btn_icon {
  margin-left: 20px;
  fill: white;
}

.registration__benefits {
  text-align: left;
}

.registration__benefits .benefits__title {
  text-transform: uppercase;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 22px;
}

.registration__benefits .benefits__subtitle {
  max-width: 652px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px;
}

.registration__benefits .benefits__elements .benefits__item {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 16px;
  padding-left: 46px;
  background: url(../img/svg/check__icon.svg) no-repeat;
  background-position: 0 8px;
}

@media (max-width: 1140px) {
  .fetured__cards_inner .fetured__card:nth-child(3n) {
    margin-right: 30px;
  }
  .registration__wrapper {
    padding: 0px 15px;
  }
  .cards__filters_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cards__filters_inner .filter__inner {
    margin-right: 0;
  }
  .wrapper__desk .top__block {
    display: none;
  }
}

@media (max-width: 1076px) {
  .shopping__carts .shopping__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body > section.shopping__carts > div > div.carts_inner {
    margin-bottom: 80px;
  }
  .shopping__carts .shopping__inner .shipping--address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .registration__benefits .benefits__title {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__benefits .benefits__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__benefits .benefits__elements .benefits__item {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 860px) {
  .fetured__cards_inner .fetured__card:nth-child(2n) {
    margin-right: 0px;
  }
  .wrapper {
    padding-left: 7px;
    padding-right: 7px;
  }
  .intro .wrapper__intro {
    background-size: 350px;
    height: 338px;
    background-position: 0 bottom;
  }
  .intro .wrapper__intro .intro__text .intro__title {
    font-weight: 900;
    font-size: 44px;
  }
  .intro .wrapper__intro .intro__text .intro__subtitle {
    font-weight: 700;
    font-size: 24px;
  }
  .wrapper__offer {
    padding: 65px 0px 96px;
  }
  .wrapper__offer .offer__inner .for__element {
    height: 167px;
  }
  .wrapper__offer .offer__inner .for__element_long {
    height: 116px;
  }
}

@media (max-width: 768px) {
  .benefits .benefits__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits .benefits__inner .benefits__item .benefits__item_pic {
    margin-bottom: 28px;
  }
  .benefits .benefits__inner .benefits__item .benefits__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }
  .author {
    background: url(../img/bottom__bg.jpg) no-repeat;
    background-size: cover;
  }
  .author .author__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 97px 0 156px;
  }
}

@media (max-width: 764px) {
  .fetured__cards_inner .fetured__card:nth-child(n) {
    margin-right: 30px;
  }
  .shopping__carts .shopping__inner .shipping--address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 677px) {
  .fetured__cards_inner .fetured__card:nth-child(n) {
    margin: 0 0 30px 0;
  }
  .intro {
    background: #F1E4E6;
  }
  .intro .wrapper__intro {
    margin: 0 auto;
    background: none;
    height: 363px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: relative;
  }
  .intro .wrapper__intro .intro__text {
    margin: 0 auto;
  }
  .intro .wrapper__intro .intro__text .intro__title {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 38px;
    color: #222222;
  }
  .intro .wrapper__intro .intro__text .intro__subtitle {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    color: #222222;
  }
  .intro .wrapper__intro .intro__text .intro__subtitle .intro__span {
    color: #F16D7F;
  }
  .header {
    background: #222222;
    padding: 18px 24px;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper .header__inner .logo__link {
    margin-right: 41px;
  }
  .header__wrapper .header__inner .logo__link .logo__pic {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header__wrapper .header__inner .search__btn {
    border: 0;
    background: transparent;
  }
  .header__wrapper .header__inner .search__btn .search__icon {
    margin-top: 5px;
  }
  .header__wrapper .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper .header__nav .nav__link {
    margin-right: 33px;
  }
  .header__wrapper .header__nav .nav__link:last-child {
    margin-right: 0;
  }
  .header__wrapper .header__nav .pay__button {
    border: 0;
    background: transparent;
    position: relative;
  }
  .header__wrapper .header__nav .pay__button .pay__index {
    display: block;
    width: 19px;
    height: 19px;
    color: #fff;
    background: #F16D7F;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 19px;
    top: -6px;
    right: -12px;
  }
  .registration__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .registration__inner {
    padding: 0;
    margin-bottom: 40px;
  }
  .registration__benefits {
    margin-bottom: 100px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_pic {
    max-width: 161px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card {
    max-height: 188px;
  }
  .shopping__carts .shopping__inner .shopping--btns .shopping--btn {
    font-size: 12px;
    line-height: 14px;
  }
  body > section.shopping__carts > div > div.carts_inner > form:nth-child(1) > div > div.card--cross > button > svg {
    width: 9px;
    height: 9px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .card--cross {
    top: 13px;
  }
  body > section.shopping__carts > div > div.carts_inner > form:nth-child(2) > div > div.card--cross > button > svg {
    width: 9px;
    height: 9px;
  }
  .shopping__carts .shopping__inner .shopping--btns .shopping--btn {
    text-transform: none;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text {
    padding: 13px 31px 38px 17px;
  }
}

@media (max-width: 611px) {
  .wrapper__offer .offer__inner .for__element {
    width: 100%;
    height: 280px;
    margin-bottom: 30px;
  }
  .wrapper__offer .offer__inner .for__element_long {
    margin-top: 0;
  }
  .wrapper__offer {
    padding-bottom: 34px;
  }
  .breadcrumb .bread__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .breadcrumb {
    padding: 24px 0 46px;
  }
  .cards__filters_inner .filter__inner .filters__menu .pagination__text {
    display: none;
  }
  .cards__filters_inner .filter__inner .filters__menu .filters__icon {
    height: 25px;
    width: 37px;
  }
  .cards__filters_inner .sort__wrapper .sort .sort__text {
    font-size: 12px;
  }
  .cards__filters_inner .sort__wrapper .sort .sort__icon {
    margin-right: 23px;
  }
  .cards__filters_inner .sort__wrapper .sort .sort__icon_last {
    margin-right: 0;
  }
  .shopping__carts {
    padding-top: 0px;
  }
  .breadcrumb {
    padding-bottom: 39px;
  }
}

@media (max-width: 478px) {
  .footer {
    padding: 43px 0 9px;
  }
  .footer .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .all__rights {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .social__block {
    margin-bottom: 40px;
  }
  .cards__filters_inner {
    padding: 0 15px;
  }
  .wrapper__desk .desk__text .desk__price {
    margin-bottom: 32px;
  }
  .desk__filters {
    padding-top: 32px;
  }
}

@media (max-width: 369px) {
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_title {
    font-size: 11px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_text .shopping__text_subtitle {
    font-size: 11px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card .shopping__card_pic {
    max-width: 130px;
  }
  .shopping__carts .shopping__inner .carts_inner .shopping__card {
    max-height: 151px;
  }
}

@media (max-width: 376px) {
  .wrapper__offer .offer__inner .for__element {
    width: 100%;
    height: 247px;
    margin-bottom: 30px;
  }
  .header__wrapper .header__nav .nav__link {
    display: none;
  }
  .header__wrapper .header__nav form {
    display: none;
  }
  .header__wrapper .header__nav .burger__inner {
    margin-right: 0;
  }
  .header__wrapper .header__nav .burger__inner_items .mobile__item {
    display: block;
  }
  .header__wrapper .header__nav .burger__inner_items {
    left: -179px;
  }
  .author .author__inner .author__item .author__quote {
    font-size: 18px;
    line-height: 22px;
  }
  .author .author__inner .author__item_btn .form .email {
    padding: 15px 30px 15px 22px;
  }
  .author .author__inner .author__item_btn .form .btn__subscribe {
    padding: 15px;
  }
  .cards__filters_inner .sort__wrapper .sort .sort__icon {
    margin-right: 10px;
  }
  .cards__filters_inner .sort__wrapper .sort .sort__icon_last {
    margin-right: 0;
  }
  .cards__filters_inner {
    padding: 0;
  }
  .shopping__carts .shopping__inner .shopping--btns .shopping--btn {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */